@model IEnumerable<AddressBookProject.Models.AddressRecord>
@using AddressBookProject.Services;



<h1>Address Book</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Add New Entry</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="addressWidth">
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var addressRecord in Model.OrderBy(ar => ar.FirstName).OrderBy(ar => ar.LastName))
        {
            <tr>
                <td>
                    @if (addressRecord.ImageData != null)
                    {
                        <img src="@AvatarHelper.DecodeImage(addressRecord)" class="img-fluid" />
                    }
                    else
                    {
                        <img src="~/Images/Vadar.jpg" class="img-fluid" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.Address1)
                    <div class="text-muted">
                        @Html.DisplayFor(modelItem => addressRecord.Address2)
                    </div>
                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => addressRecord.Note)
                </td>
                <td>
                    <a class="btn btn-outline-primary w-100" asp-action="Edit" asp-route-id="@addressRecord.id">Edit</a><hr class="mt-1 mb-1" />
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-@addressRecord.id">
                        Delete
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="delete-@addressRecord.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            You are about to delete the entry for @addressRecord.FullName 
                        </div>
                        <div class="modal-footer">
                            
                            <form asp-action="Delete" asp-route-id="@addressRecord.id">
                                <input type="hidden"  asp-for="@addressRecord.id" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> 
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>

</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
